@charset "UTF-8";
html {
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
}

.maxwidth {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1216px) {
  .maxwidth {
    max-width: 1216px;
  }
}
.layout-base {
  padding-top: 5rem;
}

footer.site-footer {
  padding-top: 5rem;
}

#sitedesc_image {
  width: 500px;
  height: 100px;
  max-width: 100%;
  background: transparent url(/assets/site/images/blue-sfme.png) no-repeat left top;
  background-size: 100% auto;
  float: none;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}

.blog {
  padding: 0px;
}

.blog-header {
  padding: 5px 10px 5px 10px;
}

.blog-body {
  padding: 5px 10px 5px 10px;
}

.widget {
  padding: 0px;
}

.widget-header {
  padding: 5px 10px 5px 10px;
}

.widget-body {
  padding: 5px 10px 5px 10px;
}

.maxwidth main.column,
.maxwidth aside.column {
  padding: 0 !important;
}

.main-wrapper,
.aside-wrapper {
  padding: 0 10px 0 10px;
}

.main-wrapper,
.aside-wrapper {
  margin-bottom: 20px;
}

@media screen and (min-width: 769px), print {
  .main-wrapper {
    margin-right: 10px;
    margin-left: 10px;
  }

  .aside-wrapper {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (min-width: 1216px) {
  .main-wrapper {
    margin-left: 0px;
  }

  .aside-wrapper {
    margin-right: 0px;
  }

  .is-full .main-wrapper {
    margin-right: 0px;
  }
}
body {
  background-image: url("../images/light-grey-terrazzo.png");
}

@media screen and (min-width: 769px), print {
  li.icon-previous a:after {
    content: " Previous";
  }

  li.icon-next a:before {
    content: "Next ";
  }

  li.icon-first a:after {
    content: " First";
  }

  li.icon-last a:before {
    content: "Last ";
  }

  li.icon-previous a span.fas,
li.icon-next a span.fas,
li.icon-first a span.fas,
li.icon-last a span.fas {
    display: none;
  }
}
ul.pagination-list li.icon-first,
ul.pagination-list li.icon-last,
ul.pagination-list li.pages-indicator {
  display: none;
}
ul.pagination-list li.pagination--offset-1,
ul.pagination-list li.pagination--offset-2,
ul.pagination-list li.pagination--offset-3,
ul.pagination-list li.pagination--offset-4,
ul.pagination-list li.pagination--offset-5,
ul.pagination-list li.pagination--offset-6,
ul.pagination-list li.pagination--offset-7 {
  display: none;
}
@media screen and (min-width: 320px) {
  ul.pagination-list li.pages-indicator {
    display: inline-block;
  }
}
@media screen and (min-width: 380px) {
  ul.pagination-list li.pagination--offset-1 {
    display: inline-block;
  }
}
@media screen and (min-width: 480px) {
  ul.pagination-list li.pagination--offset-2 {
    display: inline-block;
  }
}
@media screen and (min-width: 576px) {
  ul.pagination-list li.icon-first,
ul.pagination-list li.icon-last,
ul.pagination-list li.pagination--offset-3 {
    display: inline-block;
  }
}
@media screen and (min-width: 600px) {
  ul.pagination-list li.pagination--offset-4 {
    display: inline-block;
  }
}
@media screen and (min-width: 768px) {
  ul.pagination-list li.pagination--offset-5,
ul.pagination-list li.pagination--offset-6 {
    display: inline-block;
  }
}
@media screen and (min-width: 992px) {
  ul.pagination-list li.pagination--offset-7 {
    display: inline-block;
  }
}
ul.pagination-list li a:hover {
  background-color: #fff176;
  color: #000;
}
ul.pagination-list li a.is-current:hover {
  background-color: #9e9e9e !important;
  color: #fff;
}

nav.pagination {
  margin-top: 10px;
  margin-bottom: 10px;
}

nav#TableOfContents ul li:hover,
ul.widget-list li:hover {
  background: #fff176;
}

nav#TableOfContents ul,
ul.widget-list {
  padding: 0px;
}

nav#TableOfContents ul,
ul.widget-list {
  padding-left: 0;
  list-style: none;
  font-size: 13px;
  margin-left: 20px;
}

div.archive-item a:before,
nav#TableOfContents ul li a:before,
ul.widget-list li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  color: #9e9e9e;
  margin: 0 5px 0 -12px;
}

ul li.list-month:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  color: #616161;
  margin: 0 5px 0 0px;
}

nav#TableOfContents ul li:hover:before,
ul.widget-list li:hover:before {
  color: #ffeb3b;
}

ul.widget-archive li ul.widget-list li:before {
  margin: 0 5px 0 3px;
}

.archive-year {
  font-weight: bold;
  font-size: 15px;
}

.archive-month {
  font-size: 14px;
}

div.archive-list {
  padding-left: 10px;
  padding-right: 10px;
}

.archive-list .archive-item:nth-child(even) {
  background-color: #fafafa;
}
.archive-list .archive-item:nth-child(odd) {
  background-color: #f5f5f5;
}
.archive-list .archive-item:hover {
  background-color: #fff176;
}

.meta-item:nth-child(even) {
  background-color: #fafafa;
}

.meta-item:nth-child(odd) {
  background-color: #f5f5f5;
}

.meta-item:hover {
  background-color: #fff176;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

h4 {
  margin-top: 10px;
}

h5, h6 {
  margin-top: 5px;
}

.blog-header .title a {
  color: #424242;
}

.blog-body p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.blog-body blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #1565C0;
  background-color: #fafafa;
  font-size: 20px;
}

.blog-body blockquote:hover {
  border-left-color: #fdd835;
  background-color: #1E88E5;
  color: white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.blog-body blockquote:hover a {
  color: #eeeeee;
}

.blog-body table th,
.blog-body table td {
  padding: 5px;
  border: 1px solid #ddd;
}

span.nowrap {
  white-space: nowrap;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

/* alter minireset instead */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.blog-content ol {
  margin-left: 20px;
}

.blog-content li li:nth-child(even) {
  background-color: #f5f5f5;
}
.blog-content li li:nth-child(odd) {
  background-color: #fafafa;
}

.blog-content li p {
  display: inline;
}

.blog-content li {
  padding-left: 0;
  margin-left: 20px;
}

.blog-content ul li {
  list-style: none;
}

.blog-content ul li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  color: #616161;
  margin: 0 5px 0 0px;
}

a.post-previous:after {
  content: " Previous";
}

a.post-next:before {
  content: "Next ";
}

a.post-previous:hover,
a.post-next:hover {
  background-color: #fff176;
  color: #000;
}

.highlight {
  transition: box-shadow 0.25s;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.highlight:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.highlight pre {
  padding: 5px 20px 5px 20px;
  border-radius: 3px;
}
.highlight pre {
  color: whitesmoke;
  background-color: transparent;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  overflow: auto;
  max-height: 350px;
}
.highlighter-rouge .highlight pre {
  background-color: transparent;
  color: #7b8a8b;
}

/**
 * Syntax highlighting styles
 * http://vps.abeysuriya.com/2015/09/17/jekyll-syntax-highlighting.html
 * http://abeysuriya.com/2015/09/17/jekyll-syntax-highlighting.html
 */
.highlight {
  background-color: #272822;
  color: #f8f8f2;
  /* Comment                     */
  /* Error                       */
  /* Keyword                     */
  /* Literal                     */
  /* Name                        */
  /* Operator                    */
  /* Punctuation                 */
  /* Comment.Multiline           */
  /* Comment.Preproc             */
  /* Comment.Single              */
  /* Comment.Special             */
  /* Generic.Emph                */
  /* Generic.Strong              */
  /* Keyword.Constant            */
  /* Keyword.Declaration         */
  /* Keyword.Namespace           */
  /* Keyword.Pseudo              */
  /* Keyword.Reserved            */
  /* Keyword.Type                */
  /* Literal.Date                */
  /* Literal.Number              */
  /* Literal.String              */
  /* Name.Attribute              */
  /* Name.Builtin                */
  /* Name.Class                  */
  /* Name.Constant               */
  /* Name.Decorator              */
  /* Name.Entity                 */
  /* Name.Exception              */
  /* Name.Function               */
  /* Name.Label                  */
  /* Name.Namespace              */
  /* Name.Other                  */
  /* Name.Property               */
  /* Name.Tag                    */
  /* Name.Variable               */
  /* Operator.Word               */
  /* Text.Whitespace             */
  /* Literal.Number.Float        */
  /* Literal.Number.Hex          */
  /* Literal.Number.Integer      */
  /* Literal.Number.Oct          */
  /* Literal.String.Backtick     */
  /* Literal.String.Char         */
  /* Literal.String.Doc          */
  /* Literal.String.Double       */
  /* Literal.String.Escape       */
  /* Literal.String.Heredoc      */
  /* Literal.String.Interpol     */
  /* Literal.String.Other        */
  /* Literal.String.Regex        */
  /* Literal.String.Single       */
  /* Literal.String.Symbol       */
  /* Name.Builtin.Pseudo         */
  /* Name.Variable.Class         */
  /* Name.Variable.Global        */
  /* Name.Variable.Instance      */
  /* Literal.Number.Integer.Long */
}
.highlight .c {
  color: #75715e;
}
.highlight .err {
  color: #960050;
}
.highlight .k {
  color: #66d9ef;
}
.highlight .l {
  color: #ae81ff;
}
.highlight .n {
  color: #f8f8f2;
}
.highlight .o {
  color: #f92672;
}
.highlight .p {
  color: #f8f8f2;
}
.highlight .cm {
  color: #75715e;
}
.highlight .cp {
  color: #75715e;
}
.highlight .c1 {
  color: #75715e;
}
.highlight .cs {
  color: #75715e;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .kc {
  color: #66d9ef;
}
.highlight .kd {
  color: #66d9ef;
}
.highlight .kn {
  color: #f92672;
}
.highlight .kp {
  color: #66d9ef;
}
.highlight .kr {
  color: #66d9ef;
}
.highlight .kt {
  color: #66d9ef;
}
.highlight .ld {
  color: #e6db74;
}
.highlight .m {
  color: #ae81ff;
}
.highlight .s {
  color: #e6db74;
}
.highlight .na {
  color: #a6e22e;
}
.highlight .nb {
  color: #f8f8f2;
}
.highlight .nc {
  color: #a6e22e;
}
.highlight .no {
  color: #66d9ef;
}
.highlight .nd {
  color: #a6e22e;
}
.highlight .ni {
  color: #f8f8f2;
}
.highlight .ne {
  color: #a6e22e;
}
.highlight .nf {
  color: #a6e22e;
}
.highlight .nl {
  color: #f8f8f2;
}
.highlight .nn {
  color: #f8f8f2;
}
.highlight .nx {
  color: #a6e22e;
}
.highlight .py {
  color: #f8f8f2;
}
.highlight .nt {
  color: #f92672;
}
.highlight .nv {
  color: #f8f8f2;
}
.highlight .ow {
  color: #f92672;
}
.highlight .w {
  color: #f8f8f2;
}
.highlight .mf {
  color: #ae81ff;
}
.highlight .mh {
  color: #ae81ff;
}
.highlight .mi {
  color: #ae81ff;
}
.highlight .mo {
  color: #ae81ff;
}
.highlight .sb {
  color: #e6db74;
}
.highlight .sc {
  color: #e6db74;
}
.highlight .sd {
  color: #e6db74;
}
.highlight .s2 {
  color: #e6db74;
}
.highlight .se {
  color: #ae81ff;
}
.highlight .sh {
  color: #e6db74;
}
.highlight .si {
  color: #e6db74;
}
.highlight .sx {
  color: #e6db74;
}
.highlight .sr {
  color: #e6db74;
}
.highlight .s1 {
  color: #e6db74;
}
.highlight .ss {
  color: #e6db74;
}
.highlight .bp {
  color: #f8f8f2;
}
.highlight .vc {
  color: #f8f8f2;
}
.highlight .vg {
  color: #f8f8f2;
}
.highlight .vi {
  color: #f8f8f2;
}
.highlight .il {
  color: #ae81ff;
}

/*# sourceMappingURL=main.css.map */
